:root {
  --color-gray: #333;
  --color-main: hsl(240, 30%, 40%);
  --color-main-h: 240;
  --color-main-s: 30%;
  --color-main-l: 40%;

  --font-sans: 'Fira Sans', sans-serif;
  --font-script: 'Imperial Script', cursive;
  --font-display: 'Titillium Web', sans-serif;

  --rem-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
